@media only screen and (max-width : 1870px) {
    .topbar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .topbar-menu ul li a{
        font-size: 16px;
    }


}

@media only screen and (max-width : 1620px) {
    .topbar-logo img{
        width: 180px;
    }

    .topbar-menu{
        padding-left: 40px;
        padding-right: 40px;
    }

    .topbar-tel a{
        font-size: 16px;
    }
}



@media only screen and (max-width : 1400px) {
    .topbar-logo img{
        width: 150px;
    }

    .topbar-menu ul li a{
        font-size: 14px;
    }
}



@media only screen and (max-width : 1240px) {
    .container{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .index-first-screen__description{
        font-size: 120px;
    }

    .block-good-item__ava{
        padding-top: 60px;
    }
    
    .block-good-item__title{
        height: 68px;
        font-size: 16px;
    }

    h2{
        font-size: 35px;
    }
    
}