

.slicknav_btn{
    background: transparent;
    border: 1px solid #EF7F1A;
}

.slicknav_menu .slicknav_icon-bar{
    background: #EF7F1A;
}

.slicknav_menu .slicknav_menutxt{
    text-shadow: none;
}
